{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">EMMVE</span>
{% endblock %}

{% block content %}
<div class="row"> 
{% comment %}     <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div> {% endcomment %}
    <div class="col-lg-12 col-md-10 mx-left">
        <h2 class="section-heading">PRESENTACIÓN</h2> 
        <br> 
        <p>La Escuela Municipal de Música del Valle de Egüés, ubicada en Olaz, es un centro de educación musical creado por 
        el Ayuntamiento del Valle de Egüés en el año 2000, dirigido a usuarios/os que van desde niños/as de tres años hasta personas adultas.</p>
        <p>La Escuela Municipal de Música, como Escuela Pública y de Calidad, ofrece un proyecto pedagógico basado en una 
        educación musical integral que aporta al alumnado la mejor formación, y las competencias necesarias para desarrollar 
        una actividad musical tanto profesional como amateur.</p>
        <br>
        <h2 class="section-heading">ESPECIALIDADES</h2> 
        <br>
        <h3 class="section-heading">Teóricas</h3> 
        <br>
        <p>- Iniciación Musical (de 3 a 6 años).</p >
        <p>- Lenguaje Musical</p >
        <p>- Armonía</p >
        <p>- Estilos Musicales.</p >
        <p>- Improvisación</p >
        <h3 class="section-heading">Instrumentos</h3> 
        <br>
        <p>- Piano.</p >
        <p>- Guitarras (Clásica y Eléctrica).</p >
        <p>- Violín.</p >
        <p>- Violonchelo.</p >
        <p>- Saxofón.</p >
        <p>- Clarinete.</p >
        <p>- Trombón.</p >
        <p>- Trompeta.</p >
        <p>- Flauta travesera.</p >
        <p>- Percusión.</p >
        <p>- Canto.</p >
        <p>- Acordeón.</p >
        <h3 class="section-heading">Agrupaciones</h3>
        <br>
        <p>- Coro.</p >
        <p>- Orquesta.</p >
        <br> 
        <h2 class="section-heading">CALIDAD DE LA ENSEÑANZA</h2> 
        <br> 
        <p>- Profesorado de titulación superior, con una amplia formación tanto musical como pedagógica.</p >
        <p>- Clases individuales y grupos reducidos.</p >
        <p>- Planificación detallada de los contenidos formativos.</p >
        <p>- Adecuación de metodologías a diferentes edades del alumnado.</p >
        <p>- Educación musical integral, potenciando las experiencias escénicas desde los primeros pasos del aprendizaje.</p >
        <p>- Creación propia de materiales didácticos: partituras, CD`s, etc</p >
        <p>- Intensa labor de investigación e innovación educativa, por parte del profesorado.</p >
        <p>- Esmerada organización académica.</p >
        <p>- Utilización de nuevas tecnologías aplicadas a la música y a la pedagogía.</p >
        <br> 
        <h2 class="section-heading">INSTALACIONES</h2> 
        <br> 
        <p>- Edificio concebido específicamente para la educación musical y estudiado con todo lujo de detalles en su aspecto funcional, estético y arquitectónico.</p >
        <p>- Perfecto aislamiento acústico entre las aulas.</p >
        <p>- Aulas espaciosas y luminosas: 30 metros cuadrados para las aulas de piano, 20 metros cuadrados para el resto de aulas de instrumento,45 metros cuadrados para las aulas de Lenguaje Musical, Iniciación Musical, Armonía, etc.</p >
        <p>- Espacios complementarios: sala de ensayos, sala de composición y creación, estudio de grabación, sala de reuniones, despachos, espacio de administración, amplio y luminoso hall, etc.</p >
        <p>- Patio interior acristalado que confiere al edificio un ambiente desahogado y gran luminosidad a hall y pasillos.</p >
        <p>- Aplicación de nuevas tecnologías (ordenador con múltiples aplicaciones tanto de comunicación como específicas musicales, equipos de sonido, equipos de grabación, etc).</p >
        <br>         
        <h2 class="section-heading">CONTACTO</h2> 
        <br> 
        <p><b>Dirección:</b> Calle Parque de Olaz c.p. 31620 Olaz(NAVARRA)</p>
        <p><b>Teléfono/Fax:</b> (+34) 948 33 79 76</p>
    </div>
</div> 

{% endblock %}